@page
@using net_on_the_web.Models
@model net_on_the_web.Pages.HelloWebModel
@{
}

<table class="table table-striped table-wide">
    <thead>
        <tr>
            <th width="40%">Student Id</th>
            <th width="40%">Student Name</th>
            <th width="40%">Student ClassId</th>
            <td colspan="2" width="20%"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.studentArray)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Classid</td>
            </tr>
        }
    </tbody>
</table>





